/* style.css */

body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.5s ease;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.nected-logo {
    max-width: 120px;
    position: absolute;
    top: 10px;
    left: 10px;
    transition: max-width 0.5s ease;
}

nav {
    background-color: #444;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: white;
    transition: color 0.5s ease;
}

nav a:hover {
    color: #1E90FF;
}

article header {
    background-color: #fff;
    color: #333;
    text-align: center;
    padding: 10px;
}

article header h1 {
    font-size: 24px;
    font-weight: bold;
}

.main-content {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
    background-color: #f5f5f5;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease, height 0.5s ease;
}

.main-content:hover {
    background-color: #E0FFFF;
    height: 450px;
}

.content-box {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    background-color: #87CEEB;
    color: white;
    padding: 20px;
    border-radius: 8px;
    transition: background-color 0.5s ease;
}

.button-wrapper {
    text-align: center;
}

button.join-now-button {
    background-color: #1E90FF;
    color: white;
    padding: 20px 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease, padding 0.5s ease;
}

button.join-now-button:hover {
    background-color: #0066CC;
    padding: 22px 45px;
}

p.small-button {
    font-size: 12px;
    margin-top: 10px;
}

footer {
    background-color: #333;
    color: white;
    text-align: right;
    padding: 10px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
}

.footer-logo {
    max-width: 120px;
    transition: max-width 0.5s ease;
}

.footer-logo:hover {
    max-width: 150px;
}

.small-nected-text {
    font-size: 16px;
    margin-left: 8px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.footer-left {
    display: flex;
    align-items: flex-end;
}

.footer-right {
    max-width: 70%;
}

.small-nected-logo {
    max-width: 50px;
}

